* {
        box-sizing: border-box;
}

:root {
        --white: #FFFFFF;
        --yellow: #FFE600;
        --lightgrey: #EBEBEB;
        --darkgrey: #404040;
        --black: #000000;

}

body {
        font-family: "Montserrat", sans-serif; /*font weights 400, 700*/
        margin: 0;
        padding: 0;
}


/* =================
        TYPOGRAPHY
        ================*/

.home-link {
        background-color: var(--yellow);
        align-self: flex-end;
}

.nav-link {
        text-decoration: none;
        color: var(--white);
        font-weight: 700;
        font-size: .875rem;
}

.nav-list {
        list-style: none;
}

.current-page {
        border-bottom: 2px solid var(--yellow);
}

h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--white);
}

h1 span {
        color: var(--yellow);
}

.h1-p {
        color: var(--white);
        font-size: 1.125rem;
}

.btn {
        font-size: .875rem;
        font-weight: 700;
        padding: .75em 1.5em;
        text-align: center;
        background: var(--yellow);
        justify-self: start;
        
}

.btn:hover,
.btn:focus {
        color: blue;
        cursor: pointer;
        padding: .8em 1.7em;
}

h2,
.main-h2-p {
        font-weight: 700;
}

h2 {
        font-size: 1.125rem;
        margin-bottom: 1em;
        border-bottom: 2px solid var(--yellow);
}

.main-h2-p {
        color: var(--darkgrey);
}

.socials-list-link {
        color: black;
        font-size: 1.6875rem;
}

.socials-list-link:hover,
.socials-list-link:focus {
        color: blue;
}

.main-footer-logo {
        font-size: 1.75rem;
        font-weight: 700;
        opacity: .27;
        margin-bottom: .25em;
}
.main-footer-slogan {
        font-weight: 700;
        opacity: .37;
        margin-bottom: 4em;
}
.copyright {
        opacity: .16;
}




/* =================
        LAYOUT
        ================*/

.main-header {
        display: flex;
        justify-content: space-around;
        background-color: var(--black);
}

.hero-section {
}

.hero {
        background: var(--black);
        background-image: url(../img/hero-bg.jpg);
        background-position: center;
        background-size:cover;
        display: grid;
        grid-template-columns: minmax(0px, 1fr) 3fr  minmax(0px, 1fr);
 }

 h1 {
        grid-column: 2 / 3;
 }

 .h1-p {
        grid-column: 2 / 3;
 }

 .btn {
        grid-column: 2 / 3;
        margin-bottom: 3em;
 }


 .main-page-info {
        display: grid;
        grid-template-columns: minmax(0px, 1fr) 3fr  minmax(0px, 1fr);
        text-align: center;
 }

 .main-page-info-container {
        grid-column: 2 / 3;
        line-height: 1.6;
 }

  .main-footer {
        background: var(--lightgrey);
        display: grid;
        grid-template-columns: minmax(0px, 1fr) 3fr  minmax(0px, 1fr);
        text-align: center;
 }

 .footer-info {
        grid-column: 2 / 3;
 }

 .socials-list {
        grid-column: 2 / 3;
        display: flex;
        gap: 1em;
        justify-content: center;
        list-style: none;
        padding: 0;
        order: -1;
}



/* =================
        MEDIA QUERIES
        ================*/

@media (min-width: 45em) {
        .main-header{
                justify-content: start;
                gap: 3em;
        }

        .nav-list {
                display: flex;
                gap: 1em;
        }

         .main-page-info {
        grid-template-columns: minmax(0px, 1fr) 2fr 2fr 2fr minmax(0px, 1fr);
        text-align: center;
        }

        .info-container-aboutus {
                grid-column: 2 / 3;
        }
        
        .info-container-ourskills {
                grid-column: 3 / 4;
        }
     
        .info-container-contact {
                grid-column: 4 / 5;
        }

        .main-page-info-container {
                margin: 1em;
        }



        .main-footer {
                grid-template-columns: minmax(0px, 1fr) 3fr 1fr  minmax(0px, 1fr);
                        text-align: left;
        }
        
         .footer-info {
                grid-column: 2 / 3;
                justify-self: start;
        }

        .socials-list {
                grid-column: 3 / 4;
                align-self: flex-end;
                justify-self: end;
        }
}